*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items:  center;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
    /* background: url("original-586e80a612676b15b263110f4271092c.png"); */
   
}
/* .title{
    color: rgb(134, 104, 104);
    background-color: black;
    position: absolute;
    left: 15px;
    top: 5px;
    visibility: hidden;
} */
@media (min-width:375px) {
    .main{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }
    /* .title{
        display: inline-block;
        visibility: visible;
    } */
    img{
        /* margin-top: 0px; */
        margin-right: 70px;
        width: 200px;
    }
    button{
        margin-right: 65px;
        font-size: 60px;
        padding: 10px;
    }
}
img{
    width: 450px;
}
.main{
    background-color: red;
    background: url("original-586e80a612676b15b263110f4271092c.png");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: 120% 150%;
}
.btn-box{
    background-image: url(ai-1.gif);
    width: 150px;
    height: 150px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background-color: white;
    padding: 13px;
    border: 5px solid #008CF7;
    border-radius: 50%;
    font-size: 80px;
    color: #008CF7;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 15px rgba(0, 140, 247, 0.7), 
        0 0 30px rgba(0, 140, 247, 0.5), 
        0 0 45px rgba(0, 140, 247, 0.3);
}

button:hover {
    box-shadow: 0 0 25px rgba(0, 140, 247, 1), 
        0 0 50px rgba(0, 140, 247, 0.7), 
        0 0 75px rgba(0, 140, 247, 0.5);
    transform: scale(1.05);
}
